<section class="card">
    <a href="/quiz/{{questions.[0].id}}">
        <header>{{questions.[0].question_body}}</header>
        <li>{{questions.[0].choice_a}}</li>
        <li>{{questions.[0].choice_b}}</li>
        <li>{{questions.[0].choice_c}}</li>
        <li>{{questions.[0].choice_d}}</li>
    </a>
</section>