<div>
    <h1 class = "title is-1">Choose a premade random quiz</h1>

    <!--WORKS-->

<h2></h2>


    <ul>
        <h1>Here are the handlebars expressions that work: {{id}} </h1>
        <li>{{id}}
            category.category_name{{category.category_name}}
            categories.category_name{{categories.category_name}}
            questions.category.category_name{{questions.category.category_name}}
            <!--WORKS-->
            questions.[0].category.category_name{{questions.[0].category.category_name}}
        </li>
    </ul> 
</div>

<!--quiz builder choosing questions-->
<div>
    <h1 class = "title is-1">Build own quiz by category or creator {{category.category_name}}</h1>
    <form>
        <div class="field has-addons">
            <div class="control is-expanded">
                <div class="select is-fullwidth">
               
                <select name="category">
                    {{#each categories as |category|}}
                    <option value="{{category_name}}">{{category_name}}</option>
                    {{/each}}
                </select>
               
                </div>

            </div>
            <div class="control">
                <button type="submit" class="button is-primary">Choose</button>
            </div>
        </div>
    </form>
</div>



