

<main>
    <section>
        <div class="block" id="quiz-home">
            <h1>Welcome to Quiz number {{id}}!</h1>
            <h2>Click START to begin.</h2>
            <button class="button" id="start-button">START QUIZ</button>
        </div>
    </section>

    <section class="block" id="quiz-question">
    {{#each questions}}
    <header>
        <li>QUESTION NUMBER: {{id}}</li>
        <li>CREATOR ID: {{created_by_user_id}}</li>
    </header>
        <section>
            <label>Select your answer:</label>
            <div class="subtitle is-3">
                <label class="radio">
                    <input type="radio" name="choice">
                   A <span>{{choice_a}}</span>
                </label>
                <br>
                <label class="radio">
                    <input type="radio" name="answer">
                    B <span>{{choice_b}}</span>
                </label>
                <br>
                <label class="radio">
                    <input type="radio" name="answer">
                    C <span>{{choice_c}}</span>
                </label>
                <br>
                <label class="radio">
                    <input type="radio" name="answer">
                    D <span>{{choice_d}}</span>
                </label>
            </div>
            <div>The correct answer is: <span>{{answer}}</span> 
            </div>
        </section>
        {{/each}}

        <section class="block">
            <div class="container" id="game-over">
                <h1>You're finished!</h1>
                <p>Your score for Quiz # {{id}} is <span id="final-score"></span></p>.
            </div>
        </section>
</main>

    </div>
 
</section>

<script src="../public/js_1/quiz.js"></script>

